<!DOCTYPE html>
<html lang="en">
<head>
    <title>Excel file upload and processing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if user.is_authenticated %}
           <a class="navbar-brand text-primary" href="{% url "whatsapp:index" %}">{{ user.username }}</a>
    {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "whatsapp:index" %}">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if all_phones  != 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "whatsapp:send" %}">Send to all</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "whatsapp:sendHaveWhat" %}">Send to active Whatsapp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "whatsapp:sendDontHaveWhat" %}">Send to non active Whatsapp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "whatsapp:sendToSpecificNumber" %}">Send to costume phone</a>
      </li>
        {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/admin">Admin</a>
            {% if all_phones  != 0 %}
          <a class="dropdown-item text-danger" href="{% url "whatsapp:deleteAllDataBase" %}">Clear DataBase</a>
            <hr/>
              {% endif %}
          <a class="dropdown-item" href="/admin/logout/">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
    <div class="col-lg-6 mx-auto border border-info rounded p-3 m-3">
    <div class="row">
    <div class="col">
        <form action="{% url "whatsapp:index" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if excel_data >= 0 %}
                <h6 class="text-justify">Total contacts in Exel file: {{ excel_data }}</h6>
            {% endif %}
        <br/>
        <br/>
            <h6 class="text-justify">Total contacts in dataBase: {{ all_phones }}</h6>
        <br/>
        <br/>
            <h6 class="text-justify">Total contacts who have Whatsapp: {{ all_phones_have_whatsapp }}</h6>
        <br/>
        <br/>
            <h6 class="text-justify">Total Whatsapp messages sent: {{ total_sent_messages }}</h6>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
            <h6 class="text-danger">If you want to upload new contact please choose an Exel file </h6>
        <br/>
            <input class="btn btn-outline-primary"
                   type="file"
                   title="Upload excel file"
                   name="excel_file"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                   required="required">

                <input class="btn btn-outline-primary"
                       type="submit"
                       value="Upload new contact">
        </form>
    </div>
    </div>
    </div>
</div>
</body>
</html>