<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whatsapp Sender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body style="margin-top: 30px;margin-left: 30px;">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="container">
    <div class="p-1 m-1">
        <h4 class="text-md-center text-info">We found {{ all_phone_numbers }} phone numbers in DataBase please enter a message
            and
            select an image to send them message on whatsapp.</h4>
        <div class="col-lg-4 mx-auto border border-info rounded p-3 m-3">
            <form action="{% url "whatsapp:send" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="align-text-bottom" for="message">Type a Message: </label>
                    <textarea
                            type="text"
                            id="message"
                            name="message"
                            maxlength="700"
                            cols="40"
                            rows="5"
                            required="required"></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Select an image: </label>
                    <input type="file"
                           title="Upload an image"
                           id="image"
                           accept="image/*"
                           name="image"
                           style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;"
                           required="required">
                </div>
                <div class="form-control-sm col-md-4">
                    <label for="timer">Timer: </label>
                    <input
                            type="number"
                            id="timer"
                            name="timer"
                            value="20"
                            required="required"/>
                </div>
                <div class="form-group">
                <div class="form-control-sm col-md-4">
                    <label for="start_from">Start from: </label>
                    <input
                            type="number"
                            id="start_from"
                            name="start_from"
                            value={{ start_from }}
                            required="required"/>
                </div>
                <div class="form-control-sm col-md-4">
                    <label for="end_to">End to: </label>
                    <input
                            type="number"
                            id="end_to"
                            name="end_to"
                            value={{ all_phone_numbers }}
                            required="required"/>
                </div>
                </div>
                <div>
                    <button
                            class="btn btn-sm btn-info col-lg-12"
                            type="submit">
                        START SEND
                    </button>
                </div>
                <br/>
            </form>
        </div>
    </div>

</div>
</body>
</html>