# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python\nashawy_group_whatsapp_sender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
